/*
    style.css
    Stylesheet for the OpenSeadragon prototype
    By Nicholas Verrochi
    For CS410 - The Axolotl Project
*/

body {
    margin: auto;
}

#openseadragon-viewer {
    height: 50%;
    width: 50%;
}