Requirements list for the Axolotl project
=========================================

Allow for measurements to be taken in real-world units from the viewer

Use colored dots to clearly mark where measurements begin and end

Implement a coordinate system

Allow annotation on the images

Store measurements 

Reset and undo feature to clear away measurements