/*
    index.css

    CSS styling for the index page.

    By Nicholas Verrochi
    For CS410 - The Axolotl Project
*/

body {
    background-color: darkgrey;
    font-family: 'Courier New';
}

iframe {
    width: 100%;
}

.centered {
    margin: auto;
    margin-top: 1%;
    text-align: center;
}

.image-block {
    width: 20%;
    padding: 3%;
    float: left;
}

.selector-row {
    width: 100%;
    margin-left: 10%;
    margin-right: 5%;
    text-align: center;
}

#blurb {
    margin-top: 2%;
    text-align: left;
    width: 33%;
}
