/*
 * viewer.css
 * Styling for the viewer page
 * By Nicholas Verrochi and Vidhya Sree N
 * For CS410 - The Axolotl Project
 */

.centered {
  margin: auto;
  text-align: center;
}

#viewer {
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 0;
}

