/*
 * viewer.css
 * Styling for the viewer page
 * By Nicholas Verrochi and Vidhya Sree N
 * For CS410 - The Axolotl Project
 */

body {
  overflow: hidden !important;
  background-color: black;
  font-family: 'sans-serif';
  font-size: 0.9em;
}

.centered {
  margin: auto;
  text-align: center;
}

#viewer {
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1;
  position: relative;
}

#shortcuts {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 5%;
  width: 8%;
  color: white;
  font-family: sans-serif;
  font-size: 0.9em;
}

#measurement-color {
  height: 20px;
  width: 20px;
  border-width: 0;
}

/* Menu icon styles */
#menu-icon {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1%;
  top: 1%;
  right: 0%;
  width: 1%;
  height: 3%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  /* set z-index to a value higher than the black background */
}

.dot {
  width: 30%;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

/* Menu styles */
#measurement-menu {
  position: absolute;
  top: 10%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px;
  display: none;
  z-index: 2;
  /* set z-index to a value higher than the menu icon */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Show menu upon clicking menu icon */
#menu-icon:focus+#measurement-menu {
  display: block;
}