/*
    style.css
    Stylesheet for the overlay viewer
    By Nicholas Verrochi
    For CS410 - The Axolotl Project
*/

body {
    overflow: hidden;
}

#cornerstone-container {
    position: absolute;
    background-color: transparent;
    opacity: 50%;
    top: 0;
}

#cornerstone-container, #cornerstone-viewer, #openseadragon-viewer, #canvas {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#toolbox {
    position: absolute;
    z-index: 1000;
    top: 5%;
    left: 5%;
    height: 10%;
    width: 10%;
    background-color: transparent;
}
