/*
    style.css
    Stylesheet for the Annotation
    By Vidhya Sree N
    For CS410 - The Axolotl Project
*/

body {
    overflow: hidden;
}

#cornerstone-container {
    position: absolute;
    background-color: transparent;
    opacity: 50%;
    top: 0;
}

#cornerstone-container, #cornerstone-viewer, #openseadragon-viewer {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

